@import url(https://fonts.googleapis.com/css?family=Raleway|Indie+Flower|Lobster|Josefin+Sans|Pacifico|Gloria+Hallelujah&subset=latin-ext);

@font-face
{
    font-family: Selima;
    src: url("../fonts/Selima.otf");
}
@font-face {
    font-family: ElegantLux;
    src: url("../fonts/ElegantLux-Mager.otf");
}
@font-face {
    font-family: Lato_Regular;
    src: url("../fonts/Lato_Regular.ttf");
}

.form-group {
    margin-bottom: 15px;
    width: 97%;
}


.right {float:right;}
.left {float:left;}
.clear {clear: both;}

.formularz {
    padding: 100px;
    margin: auto;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-size: 14px;
}
.form-control {
    display: block;
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.button-form input {
    font-family: Raleway;
    font-size: 14px;
    margin-left: 20px;
    margin-top: 20px;
    padding: 10px;
    color: #555;
    background-color: #f2f2f2;
    border: none;
    transition: 0.2s;
}
.button-form :hover {
    float: right;
    color: white;
    background-color: #555;
    cursor: pointer;
}

#footer {
    padding: 1.5em 0em;

    text-align: center;
    font-family: Raleway;
}

h3 {
    text-align: center;
    margin-top: 50px;
}
#footer span {
    margin: 0 20px;
}

.container1 {
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

section, article {
    margin-bottom: 3em;

}
header {
    margin-bottom: 1.2em;
    text-align: center;
}

.byline {
    font-size: 1em;
    display: block;

    padding: 0 0 1em 0;
}

.koniec {
    font-size: 0.8em;
    color: #23262B;
    text-shadow: 1px 1px 1px #7E827A;
}

.logo {
    width: 120px;
    height: 120px;
    margin: 2mm;
}
a {
    text-decoration: none;
    color: black;
}

.social{
    background: none;
    width: 100px;
    height: 100px;
    position: fixed;
    top: 30px;
    left: 5px
}

.social1{
    background: none;
    width: 100px;
    height: 100px;
    position: fixed;
    top: 90px;
    left: 5px
}

.social2 {
    background: none;
    width: 100px;
    height: 100px;
    position: fixed;
    top: 150px;
    left: 5px;
}