.content {
    margin: 0 auto;
    /*background-color: #00d500;*/
}

h4 {
    text-align: center;
    font-size: 20px;
    font-family: Raleway;
    padding-bottom: 70px;
    margin-left: 100px;
    margin-right: 100px;
}

.team a {
    padding: 10px;
    color: #23262B;
    text-decoration: none;
    display: inline-block;
    /*text-shadow: 1px 1px 1px #7E827A;*/
}

.team a:hover {
    color: #E34D6C;
    text-decoration: ButtonShadow;
}




.team-member {
    height: 200px;
    padding: 0 100px;
    font-family: Raleway, Arial, sans-serif;
    position: relative;
    color: #23262B;
    /*text-shadow: 1px 1px 1px #7E827A;*/
}

.team .team-member h2 {
    display: inline-block;
    color: #0F0912;
    text-align: center;
    font-family: Pacifico, serif;
    font-size: 30px;
    text-shadow: 2px 2px 5px #D8D0DB;
    vertical-align: 121px;
}

.team .team-member .zdjecie {
    text-align: left;
    margin-right: 420px;
    display: inline-block;
    width: 150px;
    height: 150px;
    opacity: 0.3;
    transition: 0.5s;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
}
.team .team-member p {
    text-align: center;
    vertical-align: 200px;
    margin-top: -80px;
    margin-left: 200px;
}




.team .team-member .zdjecie:hover {
    opacity: 1.0;
    margin-right: 200px;
    transform: scale(1.2);
}

.team .team-member .zdjecie-marek {
    background-image: url(../img/marek.jpg);

}

.team .team-member .zdjecie-natalia {
    background-image: url(../img/Nat.jpg);
}

.team .team-member .zdjecie-grzegorz {
    background-image: url(../img/smiley.JPG);
}

.team .team-member .zdjecie-piotr {
    background-image: url(../img/smiley.JPG);
}












.team h1 {
    text-align: center;
    color: #0F0912;
    margin: 0;
    padding: 20px;
    font-family: Raleway;
    font-size: 110px;
    margin-top: 60px;
    margin-bottom: 30px;
   /* text-shadow: 2px 2px 5px #D8D0DB;*/
}

@import url(https://fonts.googleapis.com/css?family=Raleway|Indie+Flower|Lobster|Josefin+Sans|Pacifico|Gloria+Hallelujah&subset=latin-ext);

/*body {*/
    /*font-family: 'Raleway';*/
    /*margin: 0;*/
    /*background-color: white;*/


/*}*/
/*.background {*/
    /*background-image: url('image/Watercolor1.jpg');*/
    /*background-repeat: no-repeat;*/
    /*background-position: center;*/
    /*background-size: cover;*/
    /*background-attachment: fixed;*/

/*}*/


/*.nav {*/
/*text-align: right;*/
/*background: none;*/
/*padding-top: 10px;*/
/*padding-right: 20px;*/
/*}*/










/*h3 {*/
    /*font-family: Raleway;*/
    /*font-size: 25px;*/
/*}*/

/*.logo {*/
    /*width:120px;*/
    /*height:120px;*/
    /*margin:2mm;*/
/*}*/

/*h4 {*/
    /*color: #0F0912;*/
    /*font-family: Pacifico;*/
    /*font-size: 30px;*/
    /*text-align: center;*/
    /*text-shadow: 2px 2px 5px #D8D0DB;*/
/*}*/

/*#footer {*/
    /*padding: 1.5em 0em;*/

    /*text-align: center;*/
    /*font-family: Raleway;*/
/*}*/

/*#footer span {*/
    /*margin: 0 20px;*/
/*}*/

/*.container1 {*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*width: auto;*/
/*}*/

/*section, article {*/
    /*margin-bottom: 3em;*/

/*}*/
/*header {*/
    /*margin-bottom: 1.2em;*/
    /*text-align: center;*/
/*}*/

/*.byline {*/
    /*font-size: 1em;*/
    /*display: block;*/

    /*padding: 0 0 1em 0;*/
/*}*/

/*.koniec {*/
    /*font-size: 0.8em;*/
    /*color: #23262B;*/
    /*text-shadow: 1px 1px 1px #7E827A;*/
/*}*/