
.icon-star:before { content: '\e800'; } /* '' */
.icon-star-1:before { content: '\e801'; } /* '' */
.icon-star-2:before { content: '\e802'; } /* '' */
.icon-menu-outline:before { content: '\e803'; } /* '' */
.icon-star-empty:before { content: '\e804'; } /* '' */
.icon-th-large:before { content: '\e805'; } /* '' */
.icon-th-list:before { content: '\e806'; } /* '' */
.icon-indent-left:before { content: '\e807'; } /* '' */
.icon-home-outline:before { content: '\e808'; } /* '' */
.icon-home:before { content: '\e809'; } /* '' */
.icon-fast-food:before { content: '\e815'; } /* '' */
.icon-menu:before { content: '\f008'; } /* '' */
.icon-menu-1:before { content: '\f0c9'; } /* '' */