@import url(https://fonts.googleapis.com/css?family=Raleway|Indie+Flower|Lobster|Josefin+Sans|Pacifico|Gloria+Hallelujah&subset=latin-ext);

#footer {
    padding: 1.5em 0em;
    background-color: #2B2927;
    text-align: center;
    font-family: Raleway;
    color: #c6c6c6;
}


h3 {
    text-align: center;
    margin-top: 50px;
}
#footer span {
    margin: 0 20px;
}

.container1 {
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

section, article {
    margin-bottom: 3em;
}

header {
    margin-bottom: 1.2em;
    text-align: center;
}

.byline {
    font-size: 1em;
    display: block;
    padding: 0 0 1em 0;
}

.koniec {
    font-size: 0.8em;
    color: #c6c6c6;
    /*text-shadow: 1px 1px 1px #7E827A;*/
    text-decoration: none;
}

.logo {
    width: 120px;
    height: 120px;
    margin: 2mm;
}
a {
    text-decoration: none;
    color: #c6c6c6;
}