@import url(https://fonts.googleapis.com/css?family=Raleway|Indie+Flower|Lobster|Josefin+Sans|Pacifico|Gloria+Hallelujah&subset=latin-ext);

.social{
    background: none;
    width: 100px;
    height: 100px;
    position: fixed;
    top: 80px;
    right: 5px;
    z-index: 1;
}

.social1{
    background: none;
    width: 100px;
    height: 100px;
    position: fixed;
    top: 140px;
    right: 5px;
    z-index: 1;
}

.social2 {
    background: none;
    width: 100px;
    height: 100px;
    position: fixed;
    top: 200px;
    right: 5px;
    z-index: 1;
}

@media screen and (max-width: 768px) {
    .social {
        display: none;
    }

    .social1 {
        display: none;
    }

    .social2 {
        display: none;
    }
}