@import url(https://fonts.googleapis.com/css?family=Raleway|Indie+Flower|Lobster|Josefin+Sans|Pacifico|Gloria+Hallelujah&subset=latin-ext);

.social{
    background: none;
    width: 100px;
    height: 100px;
    position: fixed;
    top: 30px;
    right: 5px
}

.social1{
    background: none;
    width: 100px;
    height: 100px;
    position: fixed;
    top: 90px;
    right: 5px
}

.social2 {
    background: none;
    width: 100px;
    height: 100px;
    position: fixed;
    top: 150px;
    right: 5px;
}