@import url(https://fonts.googleapis.com/css?family=Raleway|Indie+Flower|Lobster|Josefin+Sans|Pacifico|Gloria+Hallelujah&subset=latin-ext);

.item {
  height: 100vh;
}

.carousel-caption h3 {
    font-family: Raleway;
    font-size: 100px;
    text-shadow: 2px 2px 5px #000
}

.carousel-caption p {
    font-family: Raleway;
    font-size: 60px;
    text-shadow: 2px 2px 5px #db2549
}

.carousel-inner img {
    opacity: 0.8;
}

.carousel-caption {
    border: 2px solid white;
    text-align: center;
    margin: auto;
}