a {
    text-decoration: none;
    color: #323356; }

body {
    margin: 0;
    font-family: Helvetica;
    color: #171717; }

.header {
    padding: 15px;
    font-size: 30px;
    text-align: center;
    background: #291833;
    color: white;
    position: fixed;
    margin: auto;
    width: 100%; }

aside {
    height: calc(100vh - 100px);
    width: 150px;
    float: left;
    box-sizing: border-box;
    background: white; }

aside nav ul {
    margin: 0;
    padding: 0; }

aside nav ul li {
    list-style: none; }

aside nav ul li a {
    display: inline-block;
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: bold;
    color: #171717; }

aside nav ul li a:hover {
    background: white;
    cursor: pointer; }

.main {
    padding-top: 100px;
    width: 95%; }

article {
    margin-bottom: 70px; }

article p {
    text-align: justify; }

.footer {
    height: 35px;
    padding: 10px;
    margin: auto;
    text-align: center;
    background: #291833;
    color: white; }

.footer a {
    color: white; }

.your_img {
    width: 800px; }
.obraz:hover {
    background-color: aqua; /*to sie dzieje z DIVem jak na niego najezdzam kursorem*/
    -webkit-filter: grayscale(0); /*obrazek w DIVie jest czarno bialy*/

.obraz {
    transition: background-color 3s linear 1s; /*tlo sie zmienia z jakims tam opoznieniem, ktore podaje w s (sekundy*/
    -webkit-filter: grayscale(100%); /*obrazek w DIVie jest kolorowy*/
    background-color: cadetblue;
    width: 400px;
    height: 300px;
    color: crimson;
    border: solid 10px crimson;
    padding: /*margines wewnetrzny aplikowany na wszystkie wartosci elementu*/ 30px;
    margin: /*margines zewnetrzny aplikowany na wszystkie wartosci elementu*/ 10px;
    /* zeby zastosowac rozne wartosci, stosujemy padding-top:... padding-bottom:...
    zeby uzyc skrotow w notacji -->  margin: 10px 20px 30px 40px; wartosci przypisane zgodnie z ruchem wskazowek zegara */
    font-family: Arial, /*jak poinformowac render zeby uzyc domyslnej czcionki...? fonty szeryfowe i nieszeryfowe:*/ sans-serif;
    font-weight: bold;
    font-size: 30px;
    font-style: italic;
    line-height: 36px;
    text-align: center;
    /*wstawianie obrazka jako tla w DIVie */
    background-image: url(../image/most.jpg);/*obrazek wyswietlany sasiadujaco*/
    background-repeat: no-repeat; /*obrazek zostanie wyswietlony tylko raz*/
    background-size: /*300px 400px; nadaje rozmiar obrazkowi */ cover; /*obrazek sie dopasuje, ale moze zostac uciety*/
    /*contain; dopasowuje rozmiar obrazka, ale nie rozciaga go na szerokosc*/
    background-position: /*domyslnie obrazek zaczyna sie zawsze z lewego gotnego rogu*/ 30px /*odsuniecie od lewej krawedzi*/ 40px;/*dsuniecie od gornej krawedzi*/
    border-radius: 10px; /*zaokraglenie bokow DIVa*/
    box-shadow: 3px 18px 120px 20px; /*cienie*/
    text-shadow: 5px 5px 5px; /*cienie*/
    transform: rotate(3deg); /*zakrzywia DIVa*/

}

/*.dni td {
    font-size: 10px;
    width: 150px;
    padding: 10px;
    background-color: white; }

td {
    color: #323356;
    text-align: center;
    background-color: #323356;
    transition: 0.5s; }
td a {
    display: block;
    padding: 15px;
    font-size: 25px; }

td:hover {
    color: #323356;
    background-color: white; }*/

.kalendarz li {
    color: #323356;
    text-align: center;
    background-color: #323356;
    transition: 0.5s;
    max-width: 60%;}

li:hover {
    color: #323356;
    background-color: white; }
.kalendarz {
    list-style-type: none;
    margin: 10px;
    padding: 10px;
    font-family: Arial;
    font-size: medium; }

.kalendarz li {
    background-color: #323356;
    margin: 1px;
    padding: 10px 20px;
    text-align: center; }

.kalendarz li:nth-child(7n) {
    color: #323356;
    text-align: center;
    background-color: #323356;
    transition: 0.5s;
}
.kalendarz li:hover {
    color: #323356;
    background-color: white;
}
li.breaker {
    height: 10px;
    background-color: transparent;
    display: block; }

@media screen and (min-width: 600px) and (max-width: 799px) {
    .kalendarz li {
        width: 30px;
        display: inline-block; } }
@media screen and (min-width: 800px) {
    .kalendarz li {
        width: 100px;
