@import url(https://fonts.googleapis.com/css?family=Raleway|Indie+Flower|Lobster|Josefin+Sans|Pacifico|Gloria+Hallelujah&subset=latin-ext);

body {
    background-image: url('image/chalupy.jpg');
    font-family: 'Raleway';
    margin: 0;
}


.container {
    width: 100%;
    max-width: 700px;
    margin: 1px auto;
    border-radius: 4px;
    background: none;
    padding: 10px;
    padding-top: 20px;
}
.nav {
    text-align: right;
    background: none;
    padding-top: 10px;
    padding-right: 20px;
}
a {
    padding: 10px;
    color: #000;
    text-decoration: none;
    display: inline-block;
}
a:hover {
    color: #F20C23;
    text-decoration: ButtonShadow;
}

.zdjecie1 {
    opacity: 0.3;
}

.zdjecie1:hover {
    opacity: 1.0;
}
p {
    margin-left: 170px;
    padding: 40px;
}
h1 {
    text-align: center;
    color: #000;
    margin: 0;
    padding: 20px;
    font-family: Raleway;
    font-size: 110px;
    margin-top: 60px;
    margin-bottom: 30px;
}
h2 {
    text-align: center;
    font-family: Pacifico;
    font-size: 30px;
}

h3 {
    font-family: Raleway;
    font-size: 25px;
}

.logo {
    width:120px;
    height:120px;
    margin:2mm;
}

h4 {
    font-family: Pacifico;
    font-size: 30px;
    text-align: center;
}

#footer {
    padding: 1.5em 0em;

    text-align: center;
    font-family: Raleway;
}

#footer span {
    margin: 0 20px;
}

.container1 {
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

section, article {
    margin-bottom: 3em;

}
header {
    margin-bottom: 1.2em;
    text-align: center;
}

.byline {
    font-size: 1em;
    display: block;

    padding: 0 0 1em 0;
}

.koniec {
    font-size: 0.8em;
}